h2{
font-size:30px;
background-color: yellow; 
border: solid black;
color:red;



}
.box{
	width: 100px;
	height: 100px;
}
.red{
	background-color:red;
	
}
.green{
		background-color: green;
}